.cmhv-item-label {
    display: block;
    font-size: 12px;
    color: grey;
    margin-bottom: 5px;
}

.cmhv-inline-result {
    border: 1px solid grey;
}

.cmhv-section-title {
    background-color: grey;
    color: lightgray;
}

.cmhv-section-title-red {
    background-color: brown;
    color: lightgray;
}

.cmhv-inline-result-red {
    border: 1px solid brown;
}

.cmhv-section-title-gold {
    background-color: goldenrod;
    color: black;
}

.cmhv-inline-result-gold {
    border: 1px solid goldenrod;
}

.cmhv-section-title-azure {
    background-color: #61a7ed;
    color: black;
}

.cmhv-inline-result-azure {
    border: 1px solid #61a7ed;
}

.cmhv-chat-image {
    border-radius: 15%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.cmhv-chat-title {
    font-size: medium;
    width: 100%;
}